a{
  color: #008CFF;
}

.nav-cont{
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #24292e;
  transition: height .1s ease;
}
.nav-bar{
  position: relative;
  width: 100%;
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 400px) {
  .nav-bar{
    width: 100%;}
}

@media (min-width: 550px) {
  .nav-bar{
    width: 80%; }
}

.nav-bar > img:first-child{
  height: 80px;
  width: 80px;
  top: 0px;
  transition: top .1s ease;
}

.nav-scrolled > .nav-bar > img:first-child{
  position: relative;
  top: -10px;
  transition: top .1s ease;
}

.nav-unscrolled > .nav-bar > img:first-child{
  position: relative;
  top: 0px;
  transition: top .1s ease;
}

.nav-scrolled{
  height: 60px;
}

.nav-link-cont{
  float: right;
  margin-top: 18px;
  margin-right: 8px;
}

.nav-scrolled > .nav-bar > .nav-link-cont{
  position: relative;
  top: -10px;
  transition: top .1s ease;
}

.nav-unscrolled > .nav-bar > .nav-link-cont{
  position: relative;
  top: 0px;
  transition: top .1s ease;
}

.nav-link{
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 4px;
  float: right;
  color: #ED3636;
  font-size: 1.3em;
  cursor: pointer;
}
.nav-link:hover{
  filter: opacity(80%);
  transition: 0.2s;
}

.nav-starred{
  background-color: #ED3636;
  border-radius: 4px;
  color: #24292e;
}

.showcase-cont{
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #51788B;
  overflow-y: hidden;
}
.showcase-box{
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 960px;
  box-sizing: border-box;
}

.showcase-box > img:first-child{
  position: absolute;
  left: 0px;
  height: 100vw;
  max-height: 800px;
  top: calc(-1 * ( 50vw - 50vh ));
  margin: 0 auto;
  display: block;
}
/*THESE TWO ARE TIED TOGETHER ^ v */
@media (min-width: 801px) {
  .showcase-box > img:first-child{
    left: calc(50vw - 400px);
    top: calc(50vh - 400px);
  }
}

@media (min-width: 400px) {
  .showcase-box{
    width: 100%;}
}

@media (min-width: 550px) {
  .showcase-box{
    width: 80%; }
}

.footer-cont{
  position: relative;
  width: 100%;
  height: 47px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #F2F4F6;
  overflow-x: hidden;
}

.footer-bar{
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 400px) {
  .footer-bar{
    width: 100%;}
}

@media (min-width: 550px) {
  .footer-bar{
    width: 80%; }
}
