a{
  color: #008CFF;
}

.nav-cont{
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #24292e;
  transition: height .1s ease;
}
.nav-bar{
  position: relative;
  width: 100%;
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  animation: .3s cubic-bezier(.01,0,.1,1) 0s 1 displayNavLogo;
}

@media (min-width: 700px) {
  .nav-bar{
    width: 80%; }
}

.nav-bar > a > img{
  height: 80px;
  width: 80px;
  top: 0px;
  transition: top .1s ease;
  margin: 0px auto;
}

.nav-scrolled > .nav-bar > a > img{
  position: relative;
  top: -10px;
  transition: top .1s ease;
}

.nav-unscrolled > .nav-bar > a > img{
  position: relative;
  top: 0px;
  transition: top .1s ease;
}

.nav-bar > a > img:active{
  transition: transform 0.1s;
  transform: scale(0.9);
}

/* animate the nav logo */
@keyframes displayNavLogo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-scrolled{
  height: 60px;
}

.nav-link-cont{
  float: right;
  margin-top: 18px;
  margin-right: 8px;
}

.nav-scrolled > .nav-bar > a{
  position: relative;
  height: 60px;
  transition: height .1s ease;
}

.nav-unscrolled > .nav-bar > a{
  position: relative;
  height: 80px;
  transition: height .1s ease;
}

.nav-scrolled > .nav-bar > .nav-link-cont{
  position: relative;
  top: -10px;
  transition: top .1s ease;
}

.nav-unscrolled > .nav-bar > .nav-link-cont{
  position: relative;
  top: 0px;
  transition: top .1s ease;
}

.nav-link{
  position: relative;
  margin-left: 5px;
  top: 0px;
  padding: 5px 10px;
  border-radius: 5px;
  float: right;
  color: #ED3636;
  font-size: 1.3em;
  cursor: pointer;
  transition: 0.2s;
  transform: scale(1);
  transition-property: top, filter, transform;
}
.nav-link:hover{
  top: -10px;
  transition: 0.2s;
  transition-property: top, filter;
  padding: 5px 10px 0px 10px;
}

.nav-link:active{
  transition: transform 0.1s;
  transform: scale(0.9);
}

.nav-link:focus{
  transition: transform 0.1s;
  transform: scale(1.1);
}

.nav-starred{
  background-color: #ED3636;
  border-radius: 4px;
  color: #24292e;
}

.nav-link:hover:after{
  content: attr(url);
  text-align: center;
  font-size: 12px;
  display: block;
  position: relative;
  width: 100%;
  margin-left: -10px;
  padding: 4px 10px 1px 10px;
  border-radius: 0px 0px 5px 5px;
  height: 20px;
  color: #ED3636;
  background-color: #373C41;
}

.nav-link.nav-starred:hover:after{
  color: #24292e;
  background-color: #C22D2D;
}

.showcase-cont{
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #51788B;
  overflow-y: hidden;
}
.showcase-box{
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 960px;
  box-sizing: border-box;
}

.showcase-box > img:first-child{
  position: absolute;
  left: 0px;
  height: 100vw;
  max-height: 400px;
  top: calc(-1 * ( 50vw - 50vh ));
  margin: 0 auto;
  display: block;
  /* animation: .3s cubic-bezier(.01,0,.1,1) 0s 1 scaleDownShowcaseLogo; */
}
/*THESE TWO ARE TIED TOGETHER ^ v */
@media (min-width: 401px) {
  .showcase-box > img:first-child{
    left: calc(50vw - 200px);
    top: calc(50vh - 200px);
  }
}

@media (min-width: 700px) {
  .showcase-box{
    width: 80%; }
}

/* animate the showcase logo */
@keyframes scaleDownShowcaseLogo {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.container-background{
  width: 100vw;
}

.container{
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0px auto;
  padding: 100px 20px 50px 20px;
  box-sizing: border-box;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 17px;
}

.cont-alt{
  border-radius: 40px 40px 0px 0px;
  background-color: #EFF2F4;
}

.footer-cont{
  position: relative;
  width: 100%;
  height: 47px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #F2F4F6;
  overflow-x: hidden;
}

.footer-bar{
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 700px) {
  .footer-bar{
    width: 80%; }
}

/* Styling for images or img's that are located inplace of a column */

.column.fill-center-img,
.columns.fill-center-img,
.column.fill-top-img,
.columns.fill-top-img,
.column.fit-center-img,
.columns.fit-center-img{
  background-repeat: no-repeat;
  position: relative;
  display: block;
  overflow: hidden;
}

.column.fill-center-img,
.columns.fill-center-img{
  background-position: center;
  background-size: cover;
}

.column.full-top-img,
.columns.full-top-img{
  background-position: center;
  background-size: cover;
}

.column.fit-center-img,
.columns.fit-center-img{
  background-position: center;
  background-size: contain;
}

div[onload-rise]{
  transition: all 0.5s;
  transition-property: transform, opacity;
}

div[spacer] {
  float: left;
  margin: 40px 0px 120px 0px;
  width: 100%;
  height: 1px;
  background-color: lightgrey;
}

anchor {
  position: relative;
  display: block;
  height: 0px;
  width: 100px;
  top: -100px;
}

/* anchor::before {
  content: "<div>test</div>";
  display: block;
  position: relative;
  top: 102px;
  right: 100px;
  padding-top: 13px;
  height: 37px;
  width: 50px;
  background-color: red;
}

anchor:hover::before {
  vertical-align: middle;
  content: "#" attr(id);
  display: inline-block;
  position: relative;
  padding-top: 13px;
  right: 100px;
  height: 37px;
  width: auto;
  background-color: red;
} */

anchor > div {
  display: block;
  position: relative;
  top: 102px;
  right: 150px;
  padding-top: 13px;
  height: 37px;
  width: auto;
  overflow: hidden;
}

anchor > div > div {
  display: block;
  position: absolute;
  top: 50px;
  right: 0px;
  padding-top: 13px;
  height: 37px;
  transition: all .2s;
  text-align: right;
}

anchor > div > div:hover {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  padding-top: 13px;
  height: 37px;
  width: 100px;
}
anchor > div > div::before {
  content: "";
  display: block;
  position: absolute;
  top: -50px;
  right: 0px;
  padding-top: 13px;
  padding-left: 13px;
  height: 37px;
  width: 50px;
  transition: all .2s;
  background-image: url("../images/anchor.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: right;
}
anchor > div > div:hover::before {
  display: block;
  position: absolute;
  top: -50px;
}
