a{
  color: #008CFF;
}

.nav-cont{
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #24292e;
  transition: height .1s ease;
}
.nav-bar{
  position: relative;
  width: 100%;
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 700px) {
  .nav-bar{
    width: 80%; }
}

.nav-bar > img:first-child{
  height: 80px;
  width: 80px;
  top: 0px;
  transition: top .1s ease;
}

.nav-scrolled > .nav-bar > img:first-child{
  position: relative;
  top: -10px;
  transition: top .1s ease;
}

.nav-unscrolled > .nav-bar > img:first-child{
  position: relative;
  top: 0px;
  transition: top .1s ease;
}

.nav-scrolled{
  height: 60px;
}

.nav-link-cont{
  float: right;
  margin-top: 18px;
  margin-right: 8px;
}

.nav-scrolled > .nav-bar > .nav-link-cont{
  position: relative;
  top: -10px;
  transition: top .1s ease;
}

.nav-unscrolled > .nav-bar > .nav-link-cont{
  position: relative;
  top: 0px;
  transition: top .1s ease;
}

.nav-link{
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 4px;
  float: right;
  color: #ED3636;
  font-size: 1.3em;
  cursor: pointer;
}
.nav-link:hover{
  filter: opacity(80%);
  transition: 0.2s;
}

.nav-starred{
  background-color: #ED3636;
  border-radius: 4px;
  color: #24292e;
}

.showcase-cont{
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #51788B;
  overflow-y: hidden;
}
.showcase-box{
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 960px;
  box-sizing: border-box;
}

.showcase-box > img:first-child{
  position: absolute;
  left: 0px;
  height: 100vw;
  max-height: 400px;
  top: calc(-1 * ( 50vw - 50vh ));
  margin: 0 auto;
  display: block;
  animation: .3s cubic-bezier(.01,0,.1,1) 0s 1 scaleDownShowcaseLogo;
}
/*THESE TWO ARE TIED TOGETHER ^ v */
@media (min-width: 401px) {
  .showcase-box > img:first-child{
    left: calc(50vw - 200px);
    top: calc(50vh - 200px);
  }
}

@media (min-width: 700px) {
  .showcase-box{
    width: 80%; }
}

/* animate the showcase logo */
@keyframes scaleDownShowcaseLogo {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.footer-cont{
  position: relative;
  width: 100%;
  height: 47px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #F2F4F6;
  overflow-x: hidden;
}

.footer-bar{
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 700px) {
  .footer-bar{
    width: 80%; }
}

/* Styling for images or img's that are located inplace of a column */

.column.fill-center-img,
.columns.fill-center-img,
.column.fill-top-img,
.columns.fill-top-img,
.column.fit-center-img,
.columns.fit-center-img{
  background-repeat: no-repeat;
  position: relative;
  display: block;
  overflow: hidden;
}

.column.fill-center-img,
.columns.fill-center-img{
  background-position: center;
  background-size: cover;
}

.column.full-top-img,
.columns.full-top-img{
  background-position: center;
  background-size: cover;
}

.column.fit-center-img,
.columns.fit-center-img{
  background-position: center;
  background-size: contain;
}

div[onload-rise]{
  transition: all 0.5s;
  transition-property: transform, opacity;
}
