a{
  color: #008CFF;
}

.nav-cont{
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #24292e;
  transition: height .1s ease;
}
.nav-bar{
  position: relative;
  width: 100%;
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 400px) {
  .nav-bar{
    width: 100%;}
}

@media (min-width: 550px) {
  .nav-bar{
    width: 80%; }
}

.nav-bar > img:first-child{
  height: 80px;
  width: 80px;
  top: 0px;
  transition: top .1s ease;
}

.nav-scrolled > .nav-bar > img:first-child{
  position: relative;
  top: -10px;
  transition: top .1s ease;
}

.nav-unscrolled > .nav-bar > img:first-child{
  position: relative;
  top: 0px;
  transition: top .1s ease;
}

.nav-scrolled{
  height: 60px;
}

.showcase-cont{
  position: relative;
  width: 100%;
  height: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #51788B;
}
.showcase-box{
  position: relative;
  width: 100%;
  height:100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

.showcase-box > img:first-child{
  position: absolute;
  left: calc(50% - 400px);
  top: 0px;
  height: 100%;
  margin: 0 auto;
  display: block;
}

@media (min-width: 400px) {
  .showcase-box{
    width: 100%;}
}

@media (min-width: 550px) {
  .showcase-box{
    width: 80%; }
}

.footer-cont{
  position: relative;
  width: 100%;
  height: 47px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #F2F4F6;
}

.footer-bar{
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

.showcase-box > img:first-child{
  position: absolute;
  left: calc(50% - 400px);
  top: 0px;
  height: 100%;
  margin: 0 auto;
  display: block;
}

@media (min-width: 400px) {
  .showcase-box{
    width: 100%;}
}

@media (min-width: 550px) {
  .showcase-box{
    width: 80%; }
}
